#quote-control-icons {
  display: none;
  float: right;
  text-align: right;
  i {
    font-size: 15px;
    color: white;
    display: block;
    &:hover {
      color: black;
    }
  }
  &.active {
    display: block;
    position: relative;
    top: -3em;
  }
}
